body {
    margin: 0;
}
h1 {
    font-size: 2em;
}
section{
    height: 25vh;
}
section:nth-child(odd) {
    background-color: gray;
    float: left;
}
section:nth-child(even){
    background-color: black;
    float: left;
    color: white;
}
hr {
    width: 33%;
    border: 1px solid red;
}