body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
}
.mainDiv {
    padding: 20px;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
#div2 {
    display: flex;
    justify-content: space-evenly;
}
#p1 {
    flex-grow: 1;
    text-align: center;
}
#p2 {
    text-align: center;
    flex-grow: 1;
}
.size{
    font-size: 2.4em;
}