* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.progress-bar-container {
    margin-inline: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.indicator {
    font-family: monospace;
    font-size: 0.9rem;
    color: grey;
}

.progress-bar-wrapper {
    flex-grow: 1;
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 0%;
    background-color: green;
}
