body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.card {
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 5px 5px 5px  rgb(143, 143, 143);
    flex-wrap: wrap;
    
}
.card-top {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}
.card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    flex-grow: 1;
    font-size: 2.5em;
}
.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 2em;
    align-self: center;
}
.card-bottom {
    position: relative;
    display: flex;
}
.card-text {
    position: absolute;
    top: 3px;
    left: 5px;
}

strong {
    font-size: 1.5em;
}